<div class='booyah-box col-xs-10 col-xs-offset-1'>
    <div class='col-lg-2 col-med-2 col-sm-3 col-xs-3'>
        <%= image_tag 'user.png', class: 'user_image' %>
    </div>
    <div class='col-xs-10 col-sm-6'>
        <h1><%= @user.email %></h1>
        <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
        <h4><%= @user.comments.count %> total comments</h4>
        <h4><%= @user.comments.where(rating: '5_stars').count %> total reviews</h4>
    </div>
    <div class='clear'></div>
</div>